
div(class="footer")
    div(class="footer__logo")
    div(class="footer__description")
        a Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    div(class="footer__social-media")
        i(class="fa fa-twitter footer__social-media_gradiented")
        i(class="fa fa-facebook footer__social-media_padded footer__social-media_gradiented")
        i(class="fa fa-instagram footer__social-media_padded footer__social-media_gradiented")