.room-thumbnail {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    height: 257px;
    width: 270px;
    &__photo {
        background-color: brown;
        height: 151px;
        width: 270px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &__number {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 17px;

        /* Dark 100% */

        color: $dark_shade_100;

        margin-left: 20px;
        margin-top: 25px;
    }
    &__break {
        width: 230px;
        height: 1px;

        margin-left: 20px;
        margin-top: 12px;

        background: $dark_shade_10;
    }

    &__stars {
        margin-top: 8px;
        margin-left: 20px;
        
    }

    &__luxe {
        position: absolute;
        margin-left: 80px;
        margin-top: -15px;
        &-text {
            color: #BC9CFF;
        }
    }

    &__price {
        position: absolute;
        margin-left: 153px;
        margin-top: -15px;
        font-size:14px;
        &_bold {
            font-weight: bold;
        }
        &_small {
            font-size:12px;
        }
    }

    &__reviews {
        width: 233px;
        position: absolute;
        margin-left: 17px;
        margin-top: 26px;
        display: flex;
        flex-direction: row-reverse;
        font-size: 14px;
        align-items: center;
        &_bold {
            font-weight: bold;
        }
        &_small {
            margin-top: 1px;
            margin-left: 4px;
        }
    }

    &__left-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        color: #FFFFFF;
        margin-top: 53px;
        transform: rotate(90deg);
        position: absolute;
    }

    &__right-arrow {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        color: #FFFFFF;
        transform: rotate(-90deg);
        margin-left: 226px;
        margin-top: 53px;

    }

    &__photo-switch {
        position: absolute;
        width: 41.25px;
        height: 7.49px;
        margin-top: 128px;
        margin-left: 214px;
        display: flex;
        justify-content: space-between
    }

    &__circle {
        width: 7.5px;
        height: 7.5px;
        background: #FFFFFF;
        box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
        border-radius: 50%;
        &_unselected {
            border-radius: 50%;
            border-style: solid;
            width: 6px;
            height:6px;
            border-width: 1px;
            border-color: white;
            background-color: rgba(0, 0, 0, 0);
        }
    }



}