link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

mixin dropdown(type)
    div(class= type) 
        div(class="dropdown__arrow") <i class="tiny material-icons">keyboard_arrow_down</i>