mixin dropdown(type, id, text)
    div(class="dropdown-container__wrapper")
        input(id= id placeholder= text, type="text" class= type  data-range="true")
        label(for= id) 
            div(class="input__button")
                i(class="tiny material-icons") keyboard_arrow_down