include ../../includes/footer-main/footer-main.pug
include ../../includes/header/header.pug

include ../../includes/room-thumbnail/room-thumbnail.pug
include ../../includes/drop_down/drop_down.pug
include ../../includes/checkbox/checkbox.pug
include ../../includes/drop_down/drop_down.pug

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
    body
        +header()
        .room-search
            .room-search__header
                h1  Номера, которые мы для вас подобрали
            .room-search__rooms
                - var n = 0;
                - var prices = ["9 900", "9 900", "8 500", "7 300", "6 000", "5 800", "5 500", "5 300", "5 000", "5 000", "5 000", "5 000"]
                - var numbers = ["888", "840", "983", "980", "856", "740", "512", "387", "898", "534", "123", "253"]
                - var isLuxe = [true,false,true,false,false,false,false,false,false,false,false,false]
                - var rating = [5,4,3,5,4,3,5,4,3,5,3,3]
                while n < 12
                    +room-thumbnail(numbers[n], rating[n], isLuxe[n], prices[n], "145", n)
                    - n++;
            .room-search__filter
                .room-search__date
                    h3 Даты пребывания в отеле
                    .room-search__date-drop_down
                        +dropdown("dropdown-container dropdown-container_date-dropdown room-search__date-dropdown", "room-search__dates", "ДД.ММ.ГГГГ")
                .room-search__guests
                    h3 Гости
                    +dropdown("dropdown-container room-search__date-dropdown","guest-counter", "Сколько гостей")
                .room-search__price-slider
                    .room-search__price-range
                        h3 Диапазон цены
                        p(class="room-search__price", id="price") 5000 - 10000
                    .room-search__slider(id="slider")
                    .room-search__price-description
                        | Стоимость за сутки пребывания в номере
                .room-search__checkbox-buttons
                    h3 CHECKBOX BUTTONS
                    .room-search__checkbox
                        .room-search__smoking
                            +checkbox("Можно курить")
                        .room-search__pets
                            +checkbox("Можно с питомцами")
                        .room-search__checkbox-guests
                            +checkbox("Можно пригласить гостей")
                .room-search__availability
                    h3 Доступность
                    .room-search__wideness
                        +checkbox("Широкий коридор", "true")
                        .room-search__wideness-description
                            | Ширина коридоров в номере не менее 91 см. 
                    .room-search__helper
                        +checkbox("Помощник для инвалидов", "true")
                        .room-search__helper-description
                            | На 1 этаже вас встретит специалист и проводит до номера. 
                .room-search__facilities
                    h3 Удобства номера
                    +dropdown("dropdown-container room-search__date-dropdown","facilities-counter", "Без удобств")
                .room-search__additional-facilities
                    h3 Дополнительные удобства
                    .room-search__dropdown-icon
                        i(class="material-icons") keyboard_arrow_down
        +footer()