include ../button/button.pug

header(class="header")
    div(class="header__logo")
        div(class="header__links")
            //- a(class="header__text header__text_bold") Home
            a(class="header__text header__text_regular-spaced") О нас
            a(class="header__text header__text_regular-spaced") Услуги
            a(class="header__text header__text_regular-spaced") Вакансии 
            a(class="header__text header__text_regular-spaced") Новости
            a(class="header__text header__text_regular-spaced") Соглашения 
        div(class="header__buttons") 
            +button("button button_gradiented button_login-button", "ВОЙТИ")
            span(class="header__register-button")
                +button("button button_filled button_register-button", "ЗАРЕГИСТРИРОВАТЬСЯ")