mixin input(type, subscriptional, placeholder)
    if subscriptional
        div(class="input__subscription")
            input(placeholder="Email", type="text" class= type)
            div(class="input__button")
                <i class="tiny material-icons input__button_gradient-text">arrow_forward</i>
            
    else
        input(placeholder= placeholder, type="text" class= type)
