
mixin rating(stars)
    .rating
        i(class="material-icons") star
        i(class="material-icons") star
        i(class="material-icons") star
        i(class="material-icons") star
        i(class="material-icons") star