

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        link(rel="stylesheet" href="../node_modules/air-datepicker/dist/css/datepicker.min.css")

        
    body
        include ../../includes/header/header.pug 
        main(class="landing")
            div(class="landing__find-card")
                include ../../includes/find-card/find-card.pug
            div(class="landing__words")
                p Лучшие номера для вашей работы, отдыха и просто вдохновения
        include ../../includes/footer-main/footer-main.pug
