.landing {
    display: flex;
    background-image: url('/images/landing-background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 117.05237515225335vh;
    left: -47px;
    top: 61px;
    &__find-card {
        position: absolute;
        width: 380px;
        height: 374px;
        left: 10rem;
        top: 10rem;
    }

    &__words {
        position: absolute;
        width: 297px;
        height: 48px;
        left: 1009px;
        top: 834px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */

        text-align: right;

        /* Dark 75% */

        color: $dark_shade_75;
    }
}