.landing {
    background-image: url('/images/landing-background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 101.09622411693057vh;
    height: 100%;
    left: -47px;
    top: 61px;
    &__find-card {
        position: absolute;
        display: flex;
        width: 380px;
        height: 374px;
        left: 9.722vw;
        top: 140px;
        @media screen and (max-width: 768px) {
            left: 13.472vw;
        }

        @media screen and (max-width: 480px) {
            left: 0;
            top: 70px;
        }
    }

    &__words {
        position: absolute;
        width: 297px;
        height: 48px;
        left: 1009px;
        top: 834px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */

        text-align: right;

        /* Dark 75% */

        color: $dark_shade_75;
    }
}