.button {
    outline: none;
    border: none;
    width: 99px;
    height: 44px;
    border-radius: 22px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    &_filled {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        line-height: 15px;
        text-transform: uppercase;
        color: #FFF;

        
    }

    &_long {
        width: 320px;
        @media screen and (max-width: 480px) {
            width: 84vw;
        }
    }

    &__arrow {
        width: 44px;
        height: 44px;
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        &_white {
            color: white;
        }
        
    }

    &_arrowed {
        position: relative;
        display: inline-block;
    }

    &_gradiented {
        color: #BC9CFF;
        border: double 2px transparent;
        background-image: linear-gradient(#fff, #fff), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        background-origin: border-box;
        background-clip: padding-box, border-box;        
        line-height: 15px;
        text-transform: uppercase;

    }

    &_login-button {
        width: 87px;
        height: 34px;
    }

    &_register-button {
        width: 196px;
        height: 34px;
    }

    &_create-account {
        width: 99px;
        height: 44px;
    }


    
}