include html/includes/button/button.pug
include html/includes/text_input/text_input.pug
include html/includes/drop_down/drop_down.pug
include html/includes/checkbox/checkbox.pug
include html/includes/radiobutton/radiobutton.pug
include html/includes/switch/switch.pug

include html/mixins/checkbox_arrow.pug

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="../node_modules/air-datepicker/dist/css/datepicker.min.css")

    body
        include html/includes/footer-main/footer-main.pug
