include html/includes/button/button.pug
include html/includes/text_input/text_input.pug
include html/includes/drop_down/drop_down.pug
include html/includes/checkbox/checkbox.pug
include html/includes/radiobutton/radiobutton.pug
include html/includes/switch/switch.pug

include html/mixins/checkbox_arrow.pug

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

    body
       +button("button button_filled")
       +button("button button_gradiented")
       br
       +input("input input_default")
       br
       +dropdown("dropdown")
       br
       +checkbox("checkbox")
       br
       +radio_button("radio")
       br
       +switch()