@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

@import "src/html/includes/button/button.module.scss";
@import "src/html/includes/text_input/text_input.scss";
@import "src/html/includes/drop_down/drop_down.scss";
@import "src/html/includes/checkbox/checkbox.scss";
@import "src/html/includes/radiobutton/radiobutton.scss";
@import "src/html/includes/switch/switch.scss";
@import "src/html/includes/footer/footer.scss";
@import "src/html/includes/footer-main/footer-main.scss";
@import "src/html/includes/header/header.scss";
@import "src/html/views/landing/landing.scss";
@import "src/html/includes/find_card/find_card.scss";

body {
  margin: 0 0 250px;
  padding: 0;
}

html {
  position: relative;
  min-height:100%;
}


