

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "vars.scss";
@import "datepicker.scss";
@import "dropdown.scss";
@import "fonts.scss";



@import "src/html/includes/button/button.module.scss";
@import "src/html/includes/text_input/text_input.scss";
@import "src/html/includes/drop_down/drop_down.scss";
@import "src/html/includes/checkbox/checkbox.scss";
@import "src/html/includes/radiobutton/radiobutton.scss";
@import "src/html/includes/switch/switch.scss";
@import "src/html/includes/footer/footer.scss";
@import "src/html/includes/footer-main/footer-main.scss";
@import "src/html/includes/header/header.scss";
@import "src/html/includes/find-card/find-card.scss";

.material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;  /* Preferred icon size */
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
 
   /* Support for all WebKit browsers. */
   -webkit-font-smoothing: antialiased;
   /* Support for Safari and Chrome. */
   text-rendering: optimizeLegibility;
 
   /* Support for Firefox. */
   -moz-osx-font-smoothing: grayscale;
 
   /* Support for IE. */
   font-feature-settings: 'liga';
 }
 

@import "src/html/views/landing/landing.scss";
@import "src/html/views/authorisation/authorisation.scss";
@import "src/html/views/room-details/room-details.scss";

body {
   padding: 0;
   margin: 0;
}
html, body {
   height: 100%;
   
}

body {
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   color: $dark_shade_75;
}

p {
   margin: 0;
}

h3 {
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 15px;
   /* identical to box height */

   text-transform: uppercase;

   color: #1F2041;
   margin: 0;
   margin-bottom: 5px;
}

h2 {
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 19px;
   line-height: 24px;

   color: $dark_shade_100;
   margin: 0;
}

h1 {
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 30px;

   /* Dark 100% */

   color: #1F2041;
}


a:link
{
   color: $dark_shade_50;
   text-decoration: none;
}
a:visited
{
   color: $dark_shade_50;
   text-decoration: none;
}
a:hover
{
   color: $dark_shade_50;
   text-decoration: none;
}
a:active
{
   color: $dark_shade_50;
   text-decoration: none;
}