@font-face {
    font-family: QuicksandBold;
    src: url('../src/fonts/quicksandbold.ttf');
}
@font-face {
    font-family: QuicksandRegular;
    src: url('../src/fonts/quicksandregular.ttf');
}
@font-face {
    font-family: MontseratBold;
    src: url('../src/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: MontseratRegular;
    src: url('../src/fonts/Montserrat-Regular.ttf');
}