/* Colors */
$dark_shade_100: #1f2041;
$dark_shade_75: rgba(31, 32, 65, 0.75);
$dark_shade_50: rgba(31, 32, 65, 0.5);
$dark_shade_25: rgba(31, 32, 65, 0.25);
$dark_shade_5: rgba(31, 32, 65, 0.05);
$purple_main: #bc9cff;
$purple_additional: #8ba4f9;
$green_main: #6fcf97;
$green_additional: #66d2ea;
$purple_gradient: linear-gradient(180deg, $purple_main 0, $purple_additional 100%);
$green_gradient: linear-gradient(180deg, $green_main 0, $green_additional 100%);
/* \Colors */