//- type is either bold or not specified, which means regular
mixin checkbox(label, bald)
    - var kind = 'checkbox__label';
    if bald
       - kind = kind + ' checkbox__label_bold';
    .checkbox__container
        input(type="checkbox" class="checkbox")
        div(class= kind)
            =label