include ../../includes/like/like.pug
include ../../includes/footer-main/footer-main.pug

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
    body
        include ../../includes/header/header.pug 
        .details
            .details__room-photos
                .details__room-photos_main
                .details__room-photos_minors
                    .details__room-photos_minor-top
                    .details__room-photos_minor-bottom
            .details__room-info
                .details__room-info_main
                    .details__room-facts
                        h2  Cведения о номере
                        .details__room-facts_comfy
                            .details__icon
                                i(class="details__icon_large material-icons") mood
                                .details__room-facts_comfy-description
                                    .details__description_top
                                        p Комфорт
                                    .details__description_bottom
                                        p Шумопоглощающие стены
                                    .details__break
                        .details__room-facts_comfy
                            .details__icon.details__icon_padded
                                i(class="details__icon_large material-icons") location_city
                                .details__room-facts_comfy-description
                                    .details__description_top
                                        p Удобство
                                    .details__description_bottom
                                        p Окно в каждой из спален
                                    .details__break
                        .details__room-facts_comfy
                            .details__icon.details__icon_padded
                                i(class="details__icon_large material-icons") whatshot
                                .details__room-facts_comfy-description
                                    .details__description_top
                                        p Уют
                                    .details__description_bottom
                                        p Номер оснащен камином
                .details__emotions
                        
            .details__review
                .details__review-label
                    h2 Отзывы посетителей номера
                    .details__review-counter
                        | 2 отзыва
                .details__review-body_top
                    .details__review-photo_top
                    .details__like_top
                        +like(12, "on")
                    .details__reviewer-name
                        h3 Мурад Сарафанов   
                        | 5 дней назад
                    .details__review-text
                        | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
                .details__review-body_bottom
                    .details__review-photo_bottom
                    .details__like_top
                        +like(2, "off")                      
                    .details__reviewer-name
                        h3 Патрисия Стёклышкова  
                        | Неделю назад
                    .details__review-text
                        | Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент   
                .details__rules
                    .details__rules-list
                        h2(class="details__rules-header") Правила
                        ul(class="details__rules-ul")
                            li(class="details__rules-li") Нельзя с питомцами
                            li(class="details__rules-li") Без вечеринок и мероприятий
                            li(class="details__rules-li") Время прибытия — после 13:00, а выезд до 12:00
                    .details__rules-cancelation
                        h2 Отмена
                        p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

        +footer()